extends layout

block content            
  .col-lg-12
    section.d2-post
      .row.row-wrapper
        .col-lg-12
          .post-list
           .col-lg-6.form-holder
              .error-disp
                  != messages('message', locals)
                  if errors 
                    each error, i in errors
                      div(class="alert alert-danger") #{error.msg}
              h1.add-post #{title}
              form.account-form.row(method='POST', action='/blog/add')
                .form-field.col-lg-12
                  span.form-post-title Title
                  input#email.input-text(name='title', type='text' required ='required')
                .form-field.col-lg-12
                  span.form-post-title Body
                  textarea.txt-area.tinymce.not-empty#mytextarea(name='body' rows= '20')
                .form-field.col-lg-12.align-center
                  input.submit-btn(value='Share', type='submit')
                 
  